::selection {
  color: darkblue;
  background-color: skyblue;
}

body {
  background: #eaeaea;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  box-sizing: border-box;
}

p {
  color: black;
  font-family: monospace;
}

.prince {
  font-family: monospace;
  border: 10px;
  margin: auto;
}

.prince:hover {
  box-shadow: 5px 5px 5px;
}

.about {
  border: 5px;
  font-family: monospace;
  margin: auto;
  border-style: outset;
  border-width: 5px;
  border-radius: 10px;
  padding: 1px;
  background: orange;
}

.about-p {
  font-family: monospace;
  margin: auto;
  object-fit: cover;
  text-align: justify;
}

a:visited {
  color: purple;
}

a:hover, a:active, a:focus {
  color: #777777;
}

.skills {
  border: 5px;
  border-style: outset;
  border-width: 5px;
  border-radius: 10px;
  padding: 1px;
  font-family: monospace;
  margin: auto;
  background: orange;
}

.skills-p {
  font-family: monospace;
  margin: auto;
}

.skills-ul {
  font-family: monospace;
}

.quiz {
  border: 5px;
  border-style: outset;
  border-width: 5px;
  border-radius: 10px;
  padding: 1px;
  font-family: monospace;
  margin: auto;
  background: orange;
}

.quiz-container {
  background-color: #fff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

#question {
  margin-bottom: 20px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #0056b3;
}

.btn.correct {
  background-color: #28a745;
}

.btn.wrong {
  background-color: #dc3545;
}

.hide {
  display: none;
}

.controls {
  display: flex;
  justify-content: space-between;
}
.contact {
  border: 5px;
  border-style: outset;
  border-width: 5px;
  border-radius: 10px;
  padding: 1px;
  font-family: monospace;
  margin: auto;
  background: orange;
}

.learning {
  border: 5px;
  border-style: outset;
  border-width: 5px;
  border-radius: 10px;
  padding: 1px;
  font-family: monospace;
  margin: auto;
  background: orange;
}

.learning-p {
  font-family: monospace;
  object-fit: cover;
  text-align: justify;
}
